<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body class="account-body">



<h2 class="account-name"> <%= session[:user].name.capitalize %></h2>



<div class="container">
<% if session[:user] == nil %>
<p>no one is logged in </p>
<% end %>




<%= erb :post %>

</div>



<div class="container faux-danger">

<a id="fake-button" class="btn btn-danger" href="#">Cancel</a>

</div>





<div id="modal" class="container real-danger">

 <span id="exit" class="close">&times</span>
<div class="container danger">
<a id="real-button" class="btn btn-danger" href="/delete">Delete account</a>
</div>
</div>


<div class="container">

  <h2>this will be where users can see their posts</h2>
<% @user_post.each do |post| %>
<%= post.title %>
<%= post.content %>
  <img src="<%= post.image %>" alt="">
<% end %>
</div>







</body>
</html>
