





<div class="container title">
  <h1> What's new</h1>
  <% if session[:user] == nil %>
  <h3 class="log-error"> Must be <a href="/login">logged</a> in!</h3>
  <% else %>
</div>
<div class="container">

  <% @posts.reverse.each do |post|%>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="container content">
        <img class="image-post" src="<%= post.image %>" alt="">
        <p><a class="post-title" href="/post/<%=post.id%>"><%= post.title %></a></p>
        <p><%= post.content %></p>
        <%=post.user_id  %>

      </div>
    </div>
  </div>
        <% end %>
        <% end %>
</div>
