





<div class="container title">
  <% if session[:user] == nil %>
  <h3 class="log-error"> Must be <a class="login" href="/login">logged</a> in!</h3>
  <p>or</p>
  <h3>Sign up</h3>
   <%= erb :signup %>
  <% else %>
  <h1> What's new</h1>
</div>
<div class="container">

  <% @posts.reverse.each do |post|%>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="container content">
        <img class="image-post" src="<%= post.image %>" alt="">
        <p><a class="post-title" href="/post/<%=post.id%>"><%= post.title %></a></p>
        <p><%= post.content %></p>
        <p><%=post.created_at.strftime("%y/%m/%d")%></p>

      </div>
    </div>
  </div>
        <% end %>
        <% end %>
</div>
